# Relevante Links

http://www.davidsbatista.net/blog/2018/02/28/TfidfVectorizer/

https://github.com/mayank408/TFIDF

https://medium.freecodecamp.org/how-to-process-textual-data-using-tf-idf-in-python-cd2bbc0a94a3

http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html#sklearn.feature_extraction.text.CountVectorizer

# Einlesen der .csv Datei

In [3]:
import csv

with open("../Data_filtered/reviews_Musical_Instruments.csv", "r") as csv_file:
    reader = csv.reader(csv_file, delimiter=';')
    liste = ["TEST"]
    for row in reader:
        liste.extend(row)

In [4]:
liste[0:10]

['TEST',
 'Review Text',
 'Review Rating',
 "['much', 'write', 'exactly', 'supposed', 'filters', 'pop', 'sounds', 'recordings', 'much', 'crisp', 'one', 'lowest', 'prices', 'pop', 'filters', 'amazon', 'might', 'well', 'buy', 'honestly', 'work', 'despite', 'pricing']",
 '5.0',
 "['product', 'exactly', 'quite', 'affordablei', 'realized', 'double', 'screened', 'arrived', 'even', 'better', 'expectedas', 'added', 'bonus', 'one', 'screens', 'carries', 'small', 'hint', 'smell', 'old', 'grape', 'candy', 'used', 'buy', 'reminiscent', 'sake', 'stop', 'putting', 'pop', 'filter', 'next', 'nose', 'smelling', 'recording', 'dif', 'needed', 'pop', 'filter', 'work', 'well', 'expensive', 'ones', 'may', 'even', 'come', 'pleasing', 'aroma', 'like', 'mine', 'buy', 'product']",
 '5.0',
 "['primary', 'job', 'device', 'block', 'breath', 'would', 'otherwise', 'produce', 'popping', 'sound', 'allowing', 'voice', 'pass', 'noticeable', 'reduction', 'volume', 'high', 'frequencies', 'double', 'cloth', 'filter', 'blocks', 'pops', 'let', 'us', 'voice', 'coloration', 'metal', 'clamp', 'mount', 'attaches', 'mike', 'stand', 'secure', 'enough', 'keep', 'attached', 'goose', 'neck', 'needs', 'little', 'coaxing', 'stay', 'put']",
 '5.0',
 "['nice', 'windscreen', 'protects', 'mxl', 'mic', 'prevents', 'pops', 'thing', 'gooseneck', 'marginally', 'able', 'hold', 'screen', 'position', 'requires', 'careful', 'positioning', 'clamp', 'avoid', 'sagging']"]

In [157]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'manni'];
aList.extend(bList)
aList

[123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

In [7]:
import pandas as pd

In [13]:
df = pd.read_csv("../Data_filtered/reviews_Musical_Instruments.csv") # Funktioniert nicht mehr, seit dem noch "overall hinzugefügt wurde"

ParserError: Error tokenizing data. C error: Expected 23 fields in line 3, saw 51

In [11]:
df = df[0:1]

In [12]:
df

                                                col1
0  ['much', 'write', 'exactly', 'supposed', 'filt...

In [437]:
df.iat[0,0]

"['much', 'write', 'exactly', 'supposed', 'filters', 'pop', 'sounds', 'recordings', 'much', 'crisp', 'one', 'lowest', 'prices', 'pop', 'filters', 'amazon', 'might', 'well', 'buy', 'honestly', 'work', 'despite', 'pricing']"

In [438]:
df.shape

(1, 1)

In [439]:
df.head()

                                                col1
0  ['much', 'write', 'exactly', 'supposed', 'filt...

In [440]:
wordSet = set(df)

In [441]:
wordSet

{'col1'}

In [442]:
wordDict = dict.fromkeys(wordSet, 0)

In [443]:
wordDict

{'col1': 0}

In [444]:
a = df['col1'].values.tolist()

In [445]:
a

["['much', 'write', 'exactly', 'supposed', 'filters', 'pop', 'sounds', 'recordings', 'much', 'crisp', 'one', 'lowest', 'prices', 'pop', 'filters', 'amazon', 'might', 'well', 'buy', 'honestly', 'work', 'despite', 'pricing']"]

In [446]:
a[0]

"['much', 'write', 'exactly', 'supposed', 'filters', 'pop', 'sounds', 'recordings', 'much', 'crisp', 'one', 'lowest', 'prices', 'pop', 'filters', 'amazon', 'might', 'well', 'buy', 'honestly', 'work', 'despite', 'pricing']"

In [447]:
df.values.tolist()

[["['much', 'write', 'exactly', 'supposed', 'filters', 'pop', 'sounds', 'recordings', 'much', 'crisp', 'one', 'lowest', 'prices', 'pop', 'filters', 'amazon', 'might', 'well', 'buy', 'honestly', 'work', 'despite', 'pricing']"]]

# CountVectorizer()

In [448]:
from sklearn.feature_extraction.text import CountVectorizer

In [449]:
count = CountVectorizer()

In [450]:
count

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [451]:
response = count.fit_transform(df['col1'])

10261 Dokumente, 27925 Unterschiedliche Wörter in allen Dokumenten, 390204 Wörter insgesamt

In [452]:
response

<1x20 sparse matrix of type '<class 'numpy.int64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [453]:
df

                                                col1
0  ['much', 'write', 'exactly', 'supposed', 'filt...

In [454]:
df

                                                col1
0  ['much', 'write', 'exactly', 'supposed', 'filt...

In [455]:
def get_feature_name(self):
    """Array mapping from feature integer indices to feature name"""
    if not hasattr(self, 'vocabulary_'):
        self._validate_vocabulary()

    self._check_vocabulary()

    return [t for t, i in sorted(six.iteritems(self.vocabulary_),
                                 key=itemgetter(1))]

In [456]:
count.get_feature_names()

['amazon',
 'buy',
 'crisp',
 'despite',
 'exactly',
 'filters',
 'honestly',
 'lowest',
 'might',
 'much',
 'one',
 'pop',
 'prices',
 'pricing',
 'recordings',
 'sounds',
 'supposed',
 'well',
 'work',
 'write']

In [457]:
a = count.transform

In [458]:
print(a)

<bound method CountVectorizer.transform of CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)>

In [459]:
wordSet = set(count.get_feature_names())

In [460]:
wordSet

{'amazon',
 'buy',
 'crisp',
 'despite',
 'exactly',
 'filters',
 'honestly',
 'lowest',
 'might',
 'much',
 'one',
 'pop',
 'prices',
 'pricing',
 'recordings',
 'sounds',
 'supposed',
 'well',
 'work',
 'write'}

In [461]:
wordDict = dict.fromkeys(wordSet, 0)

In [462]:
wordDict

{'buy': 0,
 'sounds': 0,
 'honestly': 0,
 'despite': 0,
 'crisp': 0,
 'pricing': 0,
 'amazon': 0,
 'much': 0,
 'exactly': 0,
 'well': 0,
 'lowest': 0,
 'filters': 0,
 'work': 0,
 'write': 0,
 'one': 0,
 'might': 0,
 'pop': 0,
 'prices': 0,
 'recordings': 0,
 'supposed': 0}

In [463]:
for word in count.get_feature_names():
    wordDict[word]+=1

In [464]:
wordDict

{'buy': 1,
 'sounds': 1,
 'honestly': 1,
 'despite': 1,
 'crisp': 1,
 'pricing': 1,
 'amazon': 1,
 'much': 1,
 'exactly': 1,
 'well': 1,
 'lowest': 1,
 'filters': 1,
 'work': 1,
 'write': 1,
 'one': 1,
 'might': 1,
 'pop': 1,
 'prices': 1,
 'recordings': 1,
 'supposed': 1}

In [465]:
a = wordDict

In [466]:
sum(a.values())

20

In [467]:
len(a)

20

# TfidfVectorizer()

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tfidf = TfidfVectorizer()

In [19]:
tfidf

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [20]:
response = tfidf.fit_transform(df['col1'])

In [21]:
feature_names = tfidf.get_feature_names()
for col in response.nonzero()[1]:
    print (feature_names[col], ' - ', response[0, col])

much  -  0.3713906763541037
write  -  0.18569533817705186
exactly  -  0.18569533817705186
supposed  -  0.18569533817705186
filters  -  0.3713906763541037
pop  -  0.3713906763541037
sounds  -  0.18569533817705186
recordings  -  0.18569533817705186
crisp  -  0.18569533817705186
one  -  0.18569533817705186
lowest  -  0.18569533817705186
prices  -  0.18569533817705186
amazon  -  0.18569533817705186
might  -  0.18569533817705186
well  -  0.18569533817705186
buy  -  0.18569533817705186
honestly  -  0.18569533817705186
work  -  0.18569533817705186
despite  -  0.18569533817705186
pricing  -  0.18569533817705186